.p-0 {
  padding: 0;
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
}

.f-grow {
  flex-grow: 1;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.rounded {
  border-radius: 50%;
}

.invisible {
  display: none;
}

.dragging {
  border: 1px dashed green;
}

.dropping {
  opacity: .2;
}
