.p-0 {
  padding: 0;
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
}

.f-grow {
  flex-grow: 1;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.rounded {
  border-radius: 50%;
}

.invisible {
  display: none;
}

.dragging {
  opacity: .5;
  touch-action: none;
}

.dropping {
  background-color: var(--box-drop-bg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
