.box {
  background-color: var(--box-clr-bg);
  padding: var(--spacing-100);
  border-radius: var(--border-radius);

  box-shadow: 0 .2rem 1rem 0 rgba(0, 0, 0, .2);
  transition: background-color var(--transition-duration) ease;
}
