// FIXME You can't reach the input radios with tab. 

.filter {
  bottom: calc(var(--filter-height) * -1);
  color: var(--f-clr-secondary);
  display: flex;
  font-size: 1rem;
  font-weight: var(--f-bold);
  gap: 1rem;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;

  input[type="radio"] {
    appearance: none;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;

    &:checked + label {
      color: var(--clr-blue);
    }
  }

  label {
    cursor: pointer;
    padding: 1rem;
  }
}

@media (min-width: 40em) {
  .filter {
    grid-area: middle;
    padding: var(--padding) 0;
    position: static;
  }

  .box.filter {
    box-shadow: none;
  }
}
