form {
  align-items: center;
  display: flex;
  gap: 1rem;
}

label {
  cursor: pointer;
  padding: .8rem 0;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  color: var(--f-clr-primary);
  flex-grow: 1;
  font-size: 1rem;
  padding: .4rem .3rem;

  &:focus {
    outline: 1px solid var(--border-clr);
  }
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--border-clr);
  cursor: pointer;
  flex-shrink: 0;
  height: 1.3rem;
  margin: 0;
  position: relative;
  width: 1.3rem;

  &::before {
    border-radius: inherit;
    content: '';
    height: 1.1rem;
    inset: 0;
    pointer-events: none;
    position: absolute;
    width: 1.1rem;
  }

  &:hover {
    background: var(--gradient);

    &::before {
      background: var(--box-clr-bg);
    }
  }

  &:checked {
    background: 
      url('images/icon-check.svg') no-repeat center center, 
      var(--gradient);

    &:hover {
      &::before {
        content: none;
      }
    }
  }

  &:checked + label {
    color: var(--f-clr-secondary);
    text-decoration: line-through;
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: .5rem;

  &:hover,
  &:focus {
    outline: 1px solid var(--border-clr);
  }

  &[data-toggle-theme] {
    &:hover,
    &:focus {
      --border-clr: var(--clr-grey-200);
    }
  }
}

.btn-link {
  color: currentColor;
  padding: 0;

  &:hover {
    color: var(--clr-blue);
    outline: 0;
  }
}
