.list-wrapper {
  grid-area: top;
}

.list {
  color: var(--f-clr-primary);
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  align-items: center;
  border-bottom: 1px solid var(--border-clr);
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto;
  padding: .5rem var(--spacing-100);
}
